**Exercise 2: Create markdown cell with title of the notebook**

<h1>  Data Science Tools and Ecosystem <h1>

**Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Exercise 10 - Insert a markdown cell to list Objectives**

**Objectives**
+ List popular languages for Data Science
+ List Data science libraries
+ Create headings, and add text in bold and italics in Markdown
+ Create Tables and ordered and unordered lists in Markdown 
+ Evaluate arithmetic expressions in code cells.

**Exercise 4 - Create a markdown cell to list data science languages**

1. Python
2. R
3. SQL
4. Scala

**Exercise 5 - Create a markdown cell to list data science libraries**

Some of the commonly used libraries used by Data Scientists include: 
1. Pandas
2. Matplotlib
3. Numpy
5. ggplot

**Exercise 6 - Create a markdown cell with a table of Data Science tools (open source)**

|Data Science Tools|
|:----------------:|
|RStudio|
|Jupyter Notebooks|
|Spyder|

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

**Exercise 8 - Create a code cell to multiply and add numbers**

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

**Exercise 9 - Create a code cell to convert minutes to hours**

In [16]:
#This will convert 200 minutes to hours by diving by 60
minutes =200
hours = minutes / 60
print("The total minutes:",minutes,"min")
print("In hours:", hours, "hrs")

The total minutes: 200 min
In hours: 3.3333333333333335 hrs

**Exercise 11 - Create a markdown cell to indicate the Author's name**

<h2>Author<h2>

Adrián Alejandro Valencia Martínez